body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    background-image: url('img/background.JPG');
    padding-top: 150px;
    background-size: 1600px 1200px;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}

.well {
    min-height: 20px;
    padding: 25px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navbar-inverse {
    background-color: #fff;
    border-color: transparent;
}

    .navbar-inverse .navbar-brand {
        color: #999999;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-text {
        color: #999999;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #999999;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .disabled > a,
    .navbar-inverse .navbar-nav > .disabled > a:hover,
    .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333333;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #333333;
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #999999;
        border-bottom-color: #999999;
    }

    .navbar-inverse .navbar-nav > .open > a .caret,
    .navbar-inverse .navbar-nav > .open > a:hover .caret,
    .navbar-inverse .navbar-nav > .open > a:focus .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

header {
    text-align: center;
    color: rgba(0,0,0,0.5);
    background-attachment: scroll;
    background-image: url('img/background.png');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


    header .intro-text {
        padding-top: 200px;
        padding-bottom: 50px;
    }

        header .intro-text .intro-lead-in {
            margin-bottom: 25px;
            font-family: 'Raleway', sans-serif;
            font-size: 22px;
            font-style: normal;
            line-height: 22px;
        }

        header .intro-text .intro-heading {
            margin-bottom: 25px;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
        }

.btn {
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 14px;
    height: 44px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    outline: 0 !important;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .btn:focus {
        outline: thin dotted #333;
        outline: none;
    }

    .btn:hover,
    .btn:focus {
        color: #333333;
        text-decoration: none;
    }

    .btn:active,
    .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-buy {
    color: #fff;
    background-color: #00a651;
    border-color: transparent;
}

    .btn-buy:hover,
    .btn-buy:focus,
    .btn-buy:active,
    .btn-buy.active,
    .open .dropdown-toggle.btn-buy {
        color: #fff;
        background-color: #555;
        border-color: transparent;
    }

    .btn-buy:active,
    .btn-buy.active,
    .open .dropdown-toggle.btn-buy {
        background-image: none;
    }

    .btn-buy.disabled,
    .btn-buy[disabled],
    fieldset[disabled] .btn-buy,
    .btn-buy.disabled:hover,
    .btn-buy[disabled]:hover,
    fieldset[disabled] .btn-buy:hover,
    .btn-buy.disabled:focus,
    .btn-buy[disabled]:focus,
    fieldset[disabled] .btn-buy:focus,
    .btn-buy.disabled:active,
    .btn-buy[disabled]:active,
    fieldset[disabled] .btn-buy:active,
    .btn-buy.disabled.active,
    .btn-buy[disabled].active,
    fieldset[disabled] .btn-buy.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }


.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 12px 12px;
    margin: 5px;
    font-size: 14px;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .form-control:focus {
        border-color: transparent;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

.top-title {
    color: #444444;
    width: auto;
}

.top-text {
    width: auto;
}
